body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.title {
  position: center;
  justify-content: center;
  z-index: 10; /*agar teks berada di atas canvas*/
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 50px;
  text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 30px #4a0a50,
    0 0 40px #4a0a50,
    0 0 50px #4a0a50,
    0 0 60px #4a0a50,
    0 0 70px #4a0a50;
}

.title span {
  display: inherit-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}